<div class="header row">
    <div class="logo">
        <%=link_to image_tag("pinterest.jpg", style:"width:60px; height:50px"), root_path%> 
    </div>
    <div class="barra input-group mb-3">
        <div class="col-sm-9">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <%= form_for :search, :url => { :action => 'find', :controller => 'posts' }, model: @find do |f|  %>
                    <%= f.text_field :find, class:"form-control", id:"find", placeholder:"Buscar" %>
                <% end %>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="link"><%=link_to "Inicio", root_path%></div>
        </div>
        <% if !user_signed_in? %>
            <div class="col-sm-2">
                <div class="link inicioSesion"><%=link_to "Login", new_user_session_path%></div>
            </div>
        <% else %>
            <div class="col-sm-1">
                <div class="link"><i class="fas fa-user-circle"></i> <%= current_user[:name] %></div>
            </div>
        <% end %>
        <% if user_signed_in? %>
            <div class="col-sm-1">
                <div class="dropdown">
                    <div class="menu" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></div>
                    <div class="dropdown-menu">
                        <%= link_to "Nuevo Post", posts_new_path, class:"dropdown-item" %>
                        <%= link_to "Mis Posts", posts_my_posts_path(current_user[:id]), class:"dropdown-item"  %>
                        <%= link_to "Mis Favoritos", posts_my_likes_path, class:"dropdown-item"  %>
                        <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method='delete'>Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>